<!--***** Header Start *****-->
<nav class="navbar navbar-expand-md navbar-light bg-white mb-4">
    <div class="container">
        <div class="row w-100">
            <div class="col-lg-3">
                <a class="navbar-brand" href="{{ SITEURL }}/">
                    <img src="{{ SITEURL }}/theme/images/logo_fsgt71.jpg" alt="FSGT 71 Logo" height="30">
                </a>
            </div>
            <div class="col-lg-9">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ SITEURL }}/calendrier"><i
                                    class="far fa-calendar-alt me-1"></i>Calendrier</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="commissionDropdown" role="button"
                                data-bs-hover="dropdown" aria-expanded="false">
                                <i class="fas fa-users me-1"></i>Commission FSGT 71
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="commissionDropdown">
                                <li><a class="dropdown-item" href="{{ SITEURL }}/rapport">
                                        <i class="fas fa-file-alt me-1"></i>Rapport de la commission</a></li>
                                <li><a class="dropdown-item" href="{{ SITEURL }}/bureau">
                                        <i class="fas fa-users me-1"></i>Constitution du bureau</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ SITEURL }}/clubs"><i class="fas fa-bicycle me-1"></i>Liste des
                                clubs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ SITEURL }}/contact"><i class="fas fa-envelope me-1"></i>Nous
                                contacter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<!--***** Header End *****-->