<!--***** Header Start *****-->
<nav class="navbar navbar-expand-lg navbar-light bg-white mb-4 fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ SITEURL }}/">
            <img src="{{ SITEURL }}/theme/images/logo_fsgt71.jpg" alt="FSGT 71 Logo" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <!-- Home -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ SITEURL }}/"><i class="fas fa-home me-1"></i>Accueil</a>
                </li>

                <!-- Competition Section -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-bicycle me-1"></i>Organisation
                    </a>
                    <ul class="dropdown-menu">
                        <li><h6 class="dropdown-header">Épreuves</h6></li>
                        <li><a class="dropdown-item" href="{{ SITEURL }}/calendrier">
                            <i class="far fa-calendar-alt me-1"></i>Calendrier</a></li>
                        <li><a class="dropdown-item" href="{{ SITEURL }}/resultats/index.html">
                            <i class="fas fa-trophy me-1"></i>Résultats</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><h6 class="dropdown-header">Challenge CSM 71</h6></li>
                        <li><a class="dropdown-item" href="{{ SITEURL }}/challenge_csm/reglement">
                            <i class="fas fa-file-alt me-1"></i>Règlement</a></li>
                        <li><a class="dropdown-item" href="{{ SITEURL }}/challenge_csm/resultats">
                            <i class="fas fa-trophy me-1"></i>Résultats</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><h6 class="dropdown-header">Gestion des catégories</h6></li>
                        <!-- Original: <li><a class="dropdown-item" href="{{ SITEURL }}/up_down_category/index.html"> -->
                        <li><a class="dropdown-item dropdown-item-disabled" href="#" onclick="return false;">
                            <i class="fas fa-arrows-up-down me-1"></i>Montées et descentes de catégorie</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><h6 class="dropdown-header">Gestion des licences</h6></li>
                        <!-- Original: <li><a class="dropdown-item" href="{{ SITEURL }}/licences_fsgt/index.html"> -->
                        <li><a class="dropdown-item dropdown-item-disabled" href="#" onclick="return false;"><i class="fas fa-list me-1"></i>Licenciés FSGT71</a></li>
                        <!-- Original: <li><a class="dropdown-item" href="{{ SITEURL }}/external_riders/index.html"> -->
                        <li><a class="dropdown-item dropdown-item-disabled" href="#" onclick="return false;"><i class="fas fa-list me-1"></i>Licenciés extérieurs</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><h6 class="dropdown-header">Formulaires</h6></li>
                        <li><a class="dropdown-item" href="https://forms.gle/uy5VccS3JWEVtqGC8" target="_blank"><i class="fas fa-file-alt me-1"></i>Enregistrement coureurs extérieurs</a></li>
                    </ul>
                </li>

                <!-- Organization -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-users me-1"></i>Collectif
                    </a>
                    <ul class="dropdown-menu">
                        <li><h6 class="dropdown-header">Clubs affiliés</h6></li>
                        <li><a class="dropdown-item" href="{{ SITEURL }}/clubs">
                            <i class="fas fa-bicycle me-1"></i>Liste des clubs</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><h6 class="dropdown-header">Commission FSGT 71</h6></li>
                        <li><a class="dropdown-item" href="{{ SITEURL }}/rapport">
                            <i class="fas fa-file-alt me-1"></i>Rapport de la commission</a></li>
                        <li><a class="dropdown-item" href="{{ SITEURL }}/bureau">
                            <i class="fas fa-users me-1"></i>Constitution du bureau</a></li>
                    </ul>
                </li>

                <!-- Documentation -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-book me-1"></i>Documentation
                    </a>
                    <ul class="dropdown-menu">
                        <li><h6 class="dropdown-header">Règlements</h6></li>
                        <li><a class="dropdown-item" href="{{ SITEURL }}/reglement/fsgt71/cyclisme/index.html">
                            <span class="icon-dept-71"></span> FSGT 71 - Activités cyclistes</a></li>
                        <li><a class="dropdown-item" href="{{ SITEURL }}/reglement/fsgt71/ecole_velo/index.html">
                            <span class="icon-dept-71"></span> FSGT 71 - Ecoles de Vélo</a></li>
                        <li><a class="dropdown-item" href="{{ SITEURL }}/reglement/national/cyclisme/index.html">
                            <span class="icon-national"></span> National - Activités cyclistes</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><h6 class="dropdown-header">Documents administratifs</h6></li>
                        <li><a class="dropdown-item" href="{{ SITEURL }}/organisation/index.html">
                            <i class="fas fa-file-alt me-1"></i>Organisation d'épreuves</a></li>
                        <li><a class="dropdown-item" href="{{ SITEURL }}/autres_documents/index.html">
                            <i class="fas fa-folder me-1"></i>Autres documents</a></li>
                    </ul>
                </li>

                <!-- Archive -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-archive me-1"></i>Archive
                    </a>
                    <ul class="dropdown-menu">
                        <li><h6 class="dropdown-header">Résultats</h6></li>
                        {% for year in range(2025, 2019, -1) %}
                            <li><a class="dropdown-item" href="{{ SITEURL }}/resultats/{{ year }}.html">
                                <i class="fas fa-trophy me-1"></i>{{ year }}</a></li>
                        {% endfor %}
                    </ul>
                </li>

                <!-- Contact -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ SITEURL }}/contact"><i class="fas fa-envelope me-1"></i>Nous contacter</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--***** Header End *****-->
