<!--***** Sidebar Start *****-->
<div class="bd-sidebar" id="sidebar">
    <!-- Add persistent toggle button -->
    <button class="btn btn-link sidebar-toggle-persistent" id="sidebarTogglePersistent">
        <i class="fa-solid fa-chevron-left"></i>
    </button>

    <!-- Existing mobile toggle -->
    <button class="btn btn-link sidebar-toggle d-1000-none" id="sidebarToggleMobile">
        <i class="fa-solid fa-xmark"></i>
    </button>
    <nav class="bd-links w-100" id="bd-docs-nav" aria-label="Docs navigation">
        <ul class="bd-links-nav list-unstyled mb-0 pb-3 pb-md-2 pe-lg-2">
            <li class="bd-links-group py-2">
                <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
                    <i class="fa-solid fa-trophy"></i>
                    Résultats
                </strong>
            </li>

            <li class="bd-links-group py-2">
                <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
                    <i class="fa-solid fa-book"></i>
                    Règlements
                    <button class="btn d-inline-flex align-items-center collapsed border-0" data-bs-toggle="collapse"
                        data-bs-target="#reglements-collapse" aria-expanded="false">
                        <i class="fa-solid fa-chevron-down"></i>
                    </button>
                </strong>
                <ul class="list-unstyled fw-normal pb-2 small collapse" id="reglements-collapse">
                    <li class="ms-3">
                        <strong class="bd-links-heading d-flex w-100 align-items-center">
                            <span class="icon-dept-71"></span>
                            FSGT 71
                            <button class="btn d-inline-flex align-items-center collapsed border-0"
                                data-bs-toggle="collapse" data-bs-target="#reglements-71-collapse"
                                aria-expanded="false">
                                <i class="fa-solid fa-chevron-down"></i>
                            </button>
                        </strong>
                        <ul class="list-unstyled fw-normal pb-2 small collapse" id="reglements-71-collapse">
                            <li><a href="/reglement/fsgt71/cyclisme/index.html" class="bd-links-link d-inline-block rounded">Activités cyclistes</a>
                            </li>
                            <li><a href="#" class="bd-links-link d-inline-block rounded">École de vélo</a></li>
                        </ul>
                    </li>
                    <li class="ms-3">
                        <strong class="bd-links-heading d-flex w-100 align-items-center">
                            <span class="icon-national"></span>
                            National
                            <button class="btn d-inline-flex align-items-center collapsed border-0"
                                data-bs-toggle="collapse" data-bs-target="#reglements-national-collapse"
                                aria-expanded="false">
                                <i class="fa-solid fa-chevron-down"></i>
                            </button>
                        </strong>
                        <ul class="list-unstyled fw-normal pb-2 small collapse" id="reglements-national-collapse">
                            <li><a href="#" class="bd-links-link d-inline-block rounded">Activités cyclistes</a></li>
                            <li><a href="#" class="bd-links-link d-inline-block rounded">École de vélo</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="bd-links-group py-2">
                <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
                    <i class="fa-solid fa-folder"></i>
                    Documents <br> Administratifs
                    <button class="btn d-inline-flex align-items-center collapsed border-0" data-bs-toggle="collapse"
                        data-bs-target="#docs-collapse" aria-expanded="false">
                        <i class="fa-solid fa-chevron-down"></i>
                    </button>
                </strong>
                <ul class="list-unstyled fw-normal pb-2 small collapse" id="docs-collapse">
                    <li><a href="#" class="bd-links-link d-inline-block rounded">Organisation d'épreuves</a></li>
                    <li><a href="#" class="bd-links-link d-inline-block rounded">Autres documents</a></li>
                    <li><a href="#" class="bd-links-link d-inline-block rounded">Archives</a></li>
                </ul>
            </li>

            <li class="bd-links-group py-2">
                <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
                    <i class="fa-solid fa-box-archive"></i>
                    Archives
                </strong>
            </li>

            <li class="bd-links-group py-2">
                <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
                    <i class="fa-solid fa-file-lines"></i>
                    Formulaires
                    <button class="btn d-inline-flex align-items-center collapsed border-0" data-bs-toggle="collapse"
                        data-bs-target="#forms-collapse" aria-expanded="false">
                        <i class="fa-solid fa-chevron-down"></i>
                    </button>
                </strong>
                <ul class="list-unstyled fw-normal pb-2 small collapse" id="forms-collapse">
                    <li><a href="#" class="bd-links-link d-inline-block rounded">Déclaration double licence</a>
                    </li>
                    <li><a href="#" class="bd-links-link d-inline-block rounded">Enregistrement des coureurs
                            extérieurs</a></li>
                </ul>
            </li>

            <li class="bd-links-group py-2">
                <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
                    <i class="fa-solid fa-list"></i>
                    Listing
                    <button class="btn d-inline-flex align-items-center collapsed border-0" data-bs-toggle="collapse"
                        data-bs-target="#listing-collapse" aria-expanded="false">
                        <i class="fa-solid fa-chevron-down"></i>
                    </button>
                </strong>
                <ul class="list-unstyled fw-normal pb-2 small collapse" id="listing-collapse">
                    <li><a href="#" class="bd-links-link d-inline-block rounded">Licenciés FSGT71 au sein du
                            fichier courses</a></li>
                    <li><a href="#" class="bd-links-link d-inline-block rounded">Licenciés extérieurs FSGT71 au
                            sein du fichier coureur</a></li>
                    <li><a href="#" class="bd-links-link d-inline-block rounded">Liste des déclarations double
                            licence (FSGT71)</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>

<!-- Add toggle button for mobile -->
<button class="btn position-fixed sidebar-toggle-mobile d-1000-none" id="sidebarShowMobile">
    <i class="fa-solid fa-chevron-right"></i>
</button>
<!--***** Sidebar End *****-->